@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --tab-bar-height: 62px;
  --hvsna-content-h: calc(
    100vh - var(--tab-bar-height) - var(--safe-area-inset-bottom)
  );
  --hvsna-primary-color: #2e335a;
  --hvsna-primary-color-hover: #232347;
  --hvsna-primary-color-pressed: #1a1a34;
  --hvsna-primary-color-active-tab: #6c708b;
  --hvsna-danger-color: #dc2626;
  --hvsna-danger-color-hover: #b91c1c;
  --hvsna-danger-color-pressed: #991b1b;
  --hvsna-warning-color: #f59e0b;
  --hvsna-warning-color-hover: #d97706;
  --hvsna-warning-color-pressed: #b45309;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
}
