@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --tab-bar-height: 62px;
  --hvsna-content-h: calc(
    100vh - var(--tab-bar-height) - var(--safe-area-inset-bottom)
  );
  --hvsna-primary-color: #2e335a;
  --hvsna-primary-color-hover: #232347;
  --hvsna-primary-color-pressed: #1a1a34;
  --hvsna-primary-color-active-tab: #6c708b;
  --hvsna-danger-color: #bc5c7b;
  --hvsna-danger-color-hover: #a8496a;
  --hvsna-danger-color-pressed: #943659;
  --hvsna-warning-color: #ffb962;
  --hvsna-warning-color-hover: #e5a44f;
  --hvsna-warning-color-pressed: #cc8f3c;
  --hvsna-success-color: #308380;
  --hvsna-success-color-hover: #266a6c;
  --hvsna-success-color-pressed: #1c5258;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
}
